h1 {
  margin-left: 100px;
  font-size: 60px;
  font-family: cursive;
}

h2{
  margin-left: 100px;
  font-size: 50px;
  font-family: cursive;
}


p{
  margin-left: 40px;
  font-size: 20px;
  font-family: inherit;
}

#content{
    background-color: #D8D8BF;
    border-style: solid;
}
